.question {
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    width: 100%;
    padding-right: 34px;

    &::after {
        content: '';
        position: absolute;
        top: -1px;
        right: 8px;
        width: 18px;
        height: 18px;
        background-image: url('../../assets/plus.svg');
        background-position: center;
        background-repeat: no-repeat;
        transition: .5s ease;
    }
}

.answer {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 140%;
    width: 100%;
    margin-top: 4px;
    opacity: 0.8;
}