.header {
    color: var(--clr-neutral-white, #FCFEFE);
    border-bottom: 2px solid var(--clr-neutral-black, #000);
    background: var(--clr-primary-crimson, #F63A50);
    display: flex;
    padding: 12px 0px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 7;
    width: 100%;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1208px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.divider {
    width: 2px;
    height: 20px;
    background-color: var(--clr-neutral-white);
}

.logo {
    display: none;
}

.menu {
    display: none;
}

@media screen and (max-width: 800px) {
    .container {
        padding: 0 32px;
    }
}

@media screen and (max-width: 640px) {
    .container {
        padding: 0px 18px;
    }

    .logo {
        display: inline;
        font-size: 0.9rem;
        font-weight: 800;
    }

    .nav {
        display: none;
    }

    .menu {
        display: block;
        height: 40px;
        width: 40px;
        color: var(--clr-neutral-white, #FCFEFE);
        background-color: var(--clr-primary-electric_purple, #B514ED);
        border: 2px solid var(--clr-neutral-black, #000);
        text-align: center;
        transition: .5s ease;
        border-radius: 6px;
        box-shadow: 2px 2px 0px 0px #000;
        background-image: url(../../assets/controler.svg);
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            background-color: lighten($color: #B514ED, $amount: 10);
            box-shadow: 4px 4px 0px 0px #000;
        }
    }
}